@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}

.cabecalho {
  width: 100%;
  height: 70px;
  background-color: #193e51;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cabecalho ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 500px;
}

.cabecalho ul li a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cabecalho ul li a:hover {
  color: orange;
}

.banner {
  width: 100%;
  height: 500px;
}

.banner .expositor {
  width: 100%;
  height: 500px;
  position: absolute;
}

.banner .chamada {
  text-transform: uppercase;
  font-size: 70px;
  position: relative;
  text-align: center;
  top: 200px;
  color: #146666;
}

.banner .chamada span {
  color: #272727;
  font-size: 70px;
}

.conheca {
  width: 100%;
  padding: 5rem 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.conheca .modal {
  width: 500px;
  height: 550px;
  position: absolute;
  background: #fff;
  left: 24rem;
  top: 35rem;
  border: 1px solid #272727;
  padding: 2rem;
  display: none;
  -webkit-animation: animate;
          animation: animate;
  -webkit-animation-duration: 800ms;
          animation-duration: 800ms;
}

@-webkit-keyframes animate {
  from {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}

@keyframes animate {
  from {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}

.conheca .modal .times {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  right: 2rem;
}

.conheca .modal span {
  position: relative;
  top: 2rem;
  font-size: 25px;
  font-weight: bold;
  color: #193e51;
}

.conheca .modal .instrucao {
  padding: 2rem 0 .5rem 0;
}

.conheca .modal form input {
  width: 100%;
  margin-bottom: 5px;
}

.conheca .modal form input:invalid {
  border-color: red;
}

.conheca .modal form input:valid {
  border-color: green;
}

.conheca .modal form textarea {
  width: 100%;
}

.conheca .modal form button {
  width: 100%;
  margin-top: .5em;
  background-color: #193e51;
  color: #fff;
  border: none;
  padding: .7rem;
  cursor: pointer;
}

.conheca .modal form button:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #0d202a;
}

.conheca .info {
  width: 500px;
  margin-right: 1rem;
}

.conheca .info h2 {
  font-size: 90px;
  text-transform: uppercase;
  color: #272727;
}

.conheca .info .destaque {
  font-weight: 700;
  padding-bottom: 1rem;
}

.conheca .info .texto {
  word-wrap: wrap;
  font-weight: 300;
}

.conheca .info .btn {
  margin-top: 1rem;
  border: none;
  padding: 1em;
  cursor: pointer;
  background-color: #193e51;
  color: #fff;
  border-radius: 5px;
}

.conheca .info .btn:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #0d202a;
}

.conheca .imagens {
  width: 500px;
}

.conheca .imagens img {
  width: 100%;
}

.fotos {
  width: 100%;
  height: 115vh;
  background-color: #272727;
  padding: 5rem 10rem;
}

.fotos h2 {
  color: #fff;
  font-size: 35px;
  padding-bottom: 1rem;
}

.fotos p {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 1rem;
}

.fotos .ambientes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.fotos .ambientes .card-img img {
  width: 327px;
  padding: 5px;
  -webkit-transition: 1s;
  transition: 1s;
}

.fotos .ambientes .card-img img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  padding: 0;
  -webkit-box-shadow: 2px 2px 3px #fff;
          box-shadow: 2px 2px 3px #fff;
}

.especs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5rem 10rem;
}

.especs h2 {
  font-size: 35px;
  padding-bottom: 1rem;
}

.especs p {
  padding-bottom: 2rem;
  font-weight: 300;
  font-size: 18px;
}

.especs .load_circ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

.especs .card .circle {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: relative;
}

.especs .card .circle .box {
  height: 100%;
  width: 100%;
  -webkit-transform: translate(-20%, -19%);
          transform: translate(-20%, -19%);
}

.especs .card .circle .box span {
  position: absolute;
  top: -47%;
  left: 53%;
  font-size: 38px;
  font-weight: bold;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.especs .card .texto {
  -webkit-transform: translate(0%, 20%);
          transform: translate(0%, 20%);
  text-align: center;
  color: #193e51;
}

.newsletter {
  width: 100%;
  height: 30vh;
  background-color: #146666;
  padding: 2.5rem 10rem;
}

.newsletter h2 {
  font-size: 35px;
  padding-bottom: -.5rem;
  text-align: center;
  color: #fff;
}

.newsletter p {
  text-align: center;
  color: #fff;
  font-weight: 300;
  padding-bottom: .5rem;
}

.newsletter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newsletter form #newsletter {
  width: 40%;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 5px;
}

.newsletter form button {
  width: 10%;
  padding: 7px;
  border: none;
  border-radius: 4px;
  background-color: #193e51;
  color: #fff;
  font-weight: 300;
  margin-left: 5px;
  cursor: pointer;
  font-size: 16px;
}

.newsletter form button:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #0d202a;
}
/*# sourceMappingURL=style.css.map */