@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
@import './variaveis';

//Reset

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.cabecalho{
    width: 100%;
    height: 70px;
    background-color: $cor-primaria;
    display: flex;
    justify-content: center;
    align-items: center;

    ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 500px;
    
        li a{
            text-decoration: none;
            color: $cor-branca;
            transition: $tempo-padrao;
            
            &:hover{
                color: $cor-laranja;
            }
        }
    }

}

.banner{
    width: 100%;
    height: 500px;

    .expositor{
        width: 100%;
        height: 500px;
        position: absolute;
    }

    .chamada{
        text-transform: uppercase;
        font-size: $texto-principal;
        position: relative;
        text-align: center;
        top: 200px;
        color: $cor-secundaria;

        span{
            color: $cor-terciaria;
            font-size: $texto-principal;
        }
    }
}

.conheca{
    width: 100%;
    padding: $pad-padrao;
    display: flex;
    
    .modal{
        width: 500px;
        height: 550px;
        position: absolute;
        background: $cor-branca;
        left: 24rem;
        top: 35rem;
        border: 1px solid $cor-terciaria;
        padding: 2rem;
        display: none;
        animation: animate;
        animation-duration: 800ms;

        @keyframes animate{
            from{opacity: 1}
            from{opacity: 0}
        }
        

            .times{
                font-size: 30px;
                font-weight: bold;
                cursor: pointer;
                position: absolute;
                right: 2rem;
            }
    
            span{
                position: relative;
                top: 2rem;
                font-size: 25px;
                font-weight: bold;
                color: $cor-primaria;
            }
            
            .instrucao{
                padding: 2rem 0 .5rem 0;
            }

            form{
                input{
                    width: 100%;
                    margin-bottom: 5px;

                    &:invalid{
                        border-color: red;
                    }

                    &:valid{
                        border-color: green;
                    }
                }

                textarea{
                    width: 100%;
                }

                button{
                    width: 100%;
                    margin-top: .5em;
                    background-color: $cor-primaria;
                    color: $cor-branca;
                    border: none;
                    padding: .7rem;
                    cursor: pointer;

                    &:hover{
                        transition: $tempo-padrao;
                        background-color: darken($cor-primaria, 10%);
                    }
                }
            }

    }

    .info{
        width: $lado-lado;
        margin-right: 1rem;

        h2{
            font-size: 90px;
            text-transform: uppercase;
            color: $cor-terciaria;
        }

        .destaque{
            font-weight: 700;
            padding-bottom: 1rem;
        }

        .texto{
            word-wrap: wrap;
            font-weight: 300;
        }

        .btn{
            margin-top: 1rem;
            border: none;
            padding: 1em;
            cursor: pointer;
            background-color: $cor-primaria;
            color: $cor-branca;
            border-radius: 5px;

            &:hover{
                transition: $tempo-padrao;
                background-color: darken($cor-primaria, 10%);
            }
        }
    }

    .imagens{
        width: $lado-lado;

        img{
            width: 100%;
        }
    }
}

.fotos{
    width: 100%;
    height: 115vh;
    background-color: $cor-terciaria;
    padding: $pad-padrao;

    h2{
        color: $cor-branca;
        font-size: 35px;
        padding-bottom: $pad-bot;
    }

    p{
        color: $cor-branca;
        font-size: 18px;
        font-weight: 300;
        padding-bottom: $pad-bot;
    }

    .ambientes{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .card-img{
            img{
                width: 327px;
                padding: 5px;
                transition: 1s;

                &:hover{
                    transform: scale(1.5);
                    padding: 0;
                    box-shadow: 2px 2px 3px $cor-branca;
                }
            }
        }
    }
}

.especs{
    display: flex;
    flex-direction: column;
    padding: $pad-padrao;

    h2{
        font-size: 35px;
        padding-bottom: $pad-bot;
    }

    p{
        padding-bottom: 2rem;
        font-weight: 300;
        font-size: 18px;
    }

    .load_circ{
        display: flex;
        justify-content: space-around;
        width: 100%;
        transform: translate(0%, 0%);
    }

    .card{
        .circle{
            height: 150px;
            width: 150px;
            border-radius: 50%;
            position: relative;

            .box{
                height: 100%;
                width: 100%;
                transform: translate(-20%, -19%);

                span{
                    position: absolute;
                    top: -47%;
                    left: 53%;
                    font-size: 38px;
                    font-weight: bold;
                    transition: all .1s;
                }
            }
        }
        .texto{
            transform: translate(0%, 20%);
            text-align: center;
            color: $cor-primaria;
        }
    }
}
